<div ng-if="stage == 'user'" class="content-center-page user-container">
    <a class="user-btn" href="#">Я уже имею аккаунт</a>
    <span class="user-splitter">или</span>
    <a class="user-btn" href="#" ng-click="createUser()">Создать новый аккаунт</a>
</div>

<div ng-if="stage == 'user-create'" class="content-center-page user-container user-create-container">
    <div>
        <label for="user-nickname">Ваш SteamId</label>
        <input id="user-nickname" type="text" ng-model="newUser.steamAccount">
    </div>
    <div ng-if="steamPlayerInfo">
        Nickname: {{steamPlayerInfo.personaname}}
        <img ng-src="{{steamPlayerInfo.avatarmedium}}">
    </div>
    <a class="user-btn" href="#">Активировать аккаунт</a>
</div>