<div ng-if="stage == 'user'" class="content-center-page user-container">
    <a class="user-btn" href="#" ng-click="goToLogin()">Я уже имею аккаунт</a>
    <span class="user-splitter">или</span>
    <a class="user-btn" href="#" ng-click="createUser()">Создать новый аккаунт</a>
</div>

<div ng-if="stage == 'user-create'" class="content-center-page user-container user-create-container">
    <div class="ginput-container">
        <input class = "ginput" type="text" ng-model="newUser.steamAccount" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="glabel">Введите ваш Steam-Id</label>
    </div>
    <a class="info" ng-click="showAdvice()"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
    <div class="steam-user-info">
        <div ng-if="steamPlayerInfo" class="steam-user-info-not-found content-center-page">
            <div><img ng-src="{{steamPlayerInfo.avatarmedium}}"></div>
            <div style="color: #e0e3e1">{{steamPlayerInfo.personaname}}</div>
        </div>
        <div class="steam-user-info-not-found" ng-if="!steamPlayerInfo">
            Аккаунт в стиме не найден
        </div>
    </div>
    <a class="user-btn" ng-class="{'disabled':!steamPlayerInfo}" href="#" ng-click="activateUser()">Активировать аккаунт</a>
</div>

<div ng-if="stage == 'show-private-UUID'" class="content-center-page user-container user-create-container">
    Сохраните себе этот уникальный номер. Он потребуется если вы захотите зайти с другого компьютера:
    <div class="user-uuid">
        {{newUser.privateUUID}}
    </div>
    <a class="user-btn" href="#" ng-click="goToGpuScan()">Продолжить</a>
</div>

<div ng-if="stage == 'user-login'" class="content-center-page user-container user-create-container user-login-container">
    <div class="ginput-container">
        <input class = "ginput ginput-login" type="text" ng-model="login.UUID" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="glabel">Введите ваш UUID</label>
    </div>
    <a class="user-btn" ng-class="{'disabled':(login.UUID.length !== 36)}" href="#" ng-click="login()">Войти</a>
</div>

<div ng-if="stage == 'scan-gpu'" class="content-center-page user-container user-create-container">
    Start gpu scan
    <div ng-repeat="gpu in gpuInfo  track by $index">
        {{$index}}: {{gpu.Name}} : {{gpu.AdapterRAM / 1073741824}}GB : {{gpu.AdapterCompatibility}}
    </div>
</div>