@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PT_Sans-Web-Regular.ttf');
    src: url('../fonts/PT_Sans-Web-Regular.ttf') format("ttf"),
         url('../fonts/PT_Sans-Web-Regular.ttf') format("truetype");
}

/* Reset body padding and margins */
body {
    color: #f5f5f5;
    margin:0;
    padding:0;
    font-family: "PT Sans", sans-serif;
}

/*-------------------------------------------------------- Header -----------------------*/
.header-container {
    position:fixed;
    width:100%;
    top:0;
    left:0;
}

.header {
    height:20px;
    background: rgb(58, 64, 71);
}


/*-------------------------------------------------------- Menu -----------------------*/
.menu-container {
    background:#2d3033;
    height:60px;
    top:20px;
}

.primary-nav {
    display:flex;
    list-style-type:none;
    padding:0;
    margin: 0;
    align-items: center;
    height: inherit;
    justify-content: space-between;
}

.gminer-text {
    margin-left: 10px;
    color: #af251c;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.gminer-text:hover {
    color: #ec1f1c;
}

.primary-nav li {
    -webkit-app-region: no-drag;
}

.primary-nav li.left {
    margin-right: auto;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    padding-right: 10px;
    cursor: pointer;
}

.right a{
    color: #f5f5f5;
}

.right a:hover{
    color: #ec1f1c;
}

.header-logo {
    height: 45px;
    padding-left: 20px;
}

/*-------------------------------------------------------- Container -----------------------*/
.container {
    background: #6c6e70;
    min-height: calc(100vh - 140px);
    margin:0 auto;
    overflow:auto;
    padding: 80px 80px 30px;
}

/*-------------------------------------------------------- Footer -----------------------*/
.footer_container {
    background:#2d3033;
    height:30px;
    width:100%;
}

.footer {
    line-height:30px;
    margin:0 auto;
    text-align:center;
}

/*-------------------------------------------------------- Error -----------------------*/
.content-center-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
}

.error-box{
    background: #fff;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.error-logo {
    color: #f65656;
    font-size: 55px;
}

.error-message h3{
    color: #6c6e70;
    font-size: 16px;
}

.error-message p {
    color: #b7b3b6;
    font-size: 14px;
    padding: 0 5px;
}

.error-box .error-button {
    background-color: #f65656;
    color: #fff;
    cursor: pointer;
    margin-top: auto;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    flex-grow: 1;
    padding: 10px;
}


/*-------------------------------------------------------- USER -----------------------*/
.user-container {
    text-align: center;
    margin: 0 auto;
}

.user-container a {
    text-decoration: none;
}

.user-btn {
    cursor: pointer;
    padding: 10px 0;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    color: #f5f5f5;
    background: #f65656;
    border: 2px solid #2d3033;
    border-radius: 5px;
    width: 315px;
    min-width: 260px;
}

.user-btn:hover {
    background: #bd4141;
}

.user-btn.disabled {
    cursor: not-allowed;
    background: rgba(246, 86, 86, 0.18);
}

.user-btn.disabled:hover {
    background: rgba(246, 86, 86, 0.18);
}

.user-splitter {
    font-size: 50px;
}

.user-create-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    align-content: center;
    min-width: 270px;
}

.user-create-container .user-btn{
    flex-grow: 1;
    margin: 15px 0 0;
}

.user-create-container .info {
    margin-left: 5px;
    font-size: 23px;
    cursor: pointer;
}

.user-create-container .info:hover {
    color: #2652d2;
}

.user-input-container{
    display: flex;
    position: relative;
    width: 100%;
}

.user-login-container {
    width: 405px;
}

.steam-user-info {
    height: 110px;
    border: 2px dotted #a3a4a6;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.steam-user-info-not-found {
    font-size: 23px;
    color: #898a8c;
    padding: 5px 0;
    flex-direction: column;
}

.user-uuid {
    font-size: 25px;
}

.gpu-header {
    color: rgb(253, 206, 121);
}

.gpu-info {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.gpu-info tr {
    border-bottom: 1px solid #ffd77b;
}

.gpu-info td, .gpu-info th{
    padding: 10px;
}
