@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PT_Sans-Web-Regular.ttf');
    src: url('../fonts/PT_Sans-Web-Regular.ttf') format("ttf"),
         url('../fonts/PT_Sans-Web-Regular.ttf') format("truetype");
}

/* Reset body padding and margins */
body {
    color: #f5f5f5;
    margin:0;
    padding:0;
    font-family: "PT Sans", sans-serif;
}

/*-------------------------------------------------------- Menu -----------------------*/
.header-container {
    background:#2d3033;
    height:60px;
    left:0;
    position:fixed;
    width:100%;
    top:0;
}

.primary-nav {
    display:flex;
    list-style-type:none;
    padding:0;
    margin: 0;
    align-items: center;
    height: inherit;
    justify-content: space-between;
}

.gminer-text {
    margin-left: 10px;
    color: #af251c;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.gminer-text:hover {
    color: #ec1f1c;
}

.primary-nav li {
    -webkit-app-region: no-drag;
}

.primary-nav li:nth-child(3) {
    margin-left: auto;
}

.left {
    align-items: center;
}

.right {
    padding-right: 10px;
    cursor: pointer;
}

.right a{
    color: #f5f5f5;
}

.right a:hover{
    color: #ec1f1c;
}

.header-logo {
    height: 45px;
    padding-left: 20px;
}

/*-------------------------------------------------------- Container -----------------------*/
.container {
    background: #6c6e70;
    min-height: calc(100vh - 140px);
    margin:0 auto;
    overflow:auto;
    padding: 80px 80px 30px;
}

/*-------------------------------------------------------- Footer -----------------------*/
.footer_container {
    background:#2d3033;
    height:30px;
    width:100%;
}

.footer {
    line-height:30px;
    margin:0 auto;
    text-align:center;
}

/*-------------------------------------------------------- Error -----------------------*/
.content-center-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
}

.error-box{
    background: #fff;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.error-logo {
    color: #f65656;
    font-size: 55px;
}

.error-message h3{
    color: #6c6e70;
    font-size: 16px;
}

.error-message p {
    color: #b7b3b6;
    font-size: 14px;
    padding: 0 5px;
}

.error-box .error-button {
    background-color: #f65656;
    color: #fff;
    cursor: pointer;
    margin-top: auto;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    flex-grow: 1;
    padding: 10px;
}


/*-------------------------------------------------------- USER -----------------------*/
.user-container {
    text-align: center;
    margin: 0 auto;
}

.user-container a {
    text-decoration: none;
}

.user-btn {
    cursor: pointer;
    padding: 10px 45px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    color: #f5f5f5;
    background: #f65656;
    border: 2px solid #2d3033;
    border-radius: 5px;
}

.user-btn:hover {
    background: #bd4141;
}

.user-splitter {
    font-size: 50px;
}

.user-create-container {
    flex-direction: column;
}

.steam-user-info {
    width: 300px;
    height: 80px;
    border: 2px solid black;
}