<!DOCTYPE html>
<html lang="en" ng-app="game-miner-app" ng-cloak>
<head>
    <meta charset="UTF-8">
    <title>GMiner</title>
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/ginputs.css">
</head>
<body ng-controller="MainCtrl">
    <div class="header-container header" style="-webkit-app-region: drag">
        <ul class="primary-nav">
            <li class="left"></li>
            <li class="right" ng-click="minimizeWindow()"><a><i class="fa fa-window-minimize" aria-hidden="true"></i></a></li>
            <li class="right" ng-click="maximizeWindow()" ng-if="isMaximize"><a><i class="fa fa-window-maximize" aria-hidden="true"></i></a></li>
            <li class="right" ng-click="restoreWindow()" ng-if="!isMaximize"><a><i class="fa fa-window-restore" aria-hidden="true"></i></a></li>
            <li class="right"><a ng-click="closeWindow()"><i class="fa fa-times" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="header-container menu-container">
        <ul class="primary-nav">
            <li class="left">
                <img src="./icons/logo.png"
                     onmouseover="this.src='./icons/logo_after.png'"
                     onmouseout="this.src='./icons/logo.png'" class="header-logo">
                <span class="gminer-text">GMINER</span>
            </li>
            <li class="right"><a ui-sref="/library">Игры и скины</a></li>
            <li class="right"><a ui-sref="/rooms">Комнаты</a></li>
            <li class="right"><a ui-sref="/current_user">Моя статистика</a></li>
        </ul>
    </div>

    <div class="container" ui-view>
    </div>

    <div class="footer_container">
        <div class="footer">
            &copy; 2017 GSoftware. Версия продукта: {{version}}
        </div>
    </div>

    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script src="js/angApp.js"></script>
</body>
</html>